

@keyframes change-people{
    0%{
        background-image: url(img/img-people1.png);
    }
    20%{
        background-image: url(img/img-people2.png);
    }
    40%{
        background-image: url(img/img-people3.png);
    }
    60%{
        background-image: url(img/img-people4.png);
    }
    80%{
        background-image: url(img/img-people5.png);
    }
    100%{
        background-image: url(img/img-people6.png);
    }
}


@keyframes beneficios-card-small{
    0%{
        background-image: url(img/gummy-gominhas-close.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    20%{
        background-image: url(img/img-people2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    40%{
        background-image: url(img/img-people3.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    60%{
        background-image: url(img/gummy-gominhas-close.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    80%{
        background-image: url(img/img-people5.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    100%{
        background-image: url(img/img-people6.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}