// cores do projeto



//Brand Colors


//Cores principais
$purple: #716A9E;
$purple-light: #AC99BF;
$purple-dark: #5D4772;


//Cores secundárias
$purple2: #716A9E;
$purple2-light: #A69FD2;
$purple2-dark: #514D7C;


//Cores auxiliares
$red: #BC2F2F;
$red-light: #C96161;
$red-dark: #9E1E1E;

$green: #7C9170;
$green-light: #B1CBA6;
$green-dark: #5F7254;

$yellow: #EFD460;
$yellow-light: #FCEDB1;
$yellow-dark: #DBBE42;


//Brancos
$white: #EDEDF7;
$white-light: #F7F6FB;
$white-dark: #E4E4F4;


//Pretos
$black: #261c2d;
$black-light: #50455b;
$black-dark: #0b070f;


//Cinzas
$gray1: #455446;
$gray2: #5d5c5e;
$gray3: #666566;
$gray4: #767576;
$gray6: #868587;
$gray6: #969597;
$gray7: #a6a6a7;