//Layout do projeto

.flex{
    display: flex;
    flex-wrap: wrap;
}


.flex-left{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.align-left{
    align-items: flex-start;
}

.align-right{
    justify-content: end;
}

.border{
    border: 1px solid red;
}


section#hero{
    margin-top: 0;

    background-color: $purple-dark;

    .hero-btn {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;

    }

    .img-hero{
        padding: 0 4rem;

       .img{
           display: flex;
           justify-content: center;

           width: 22rem;
           height: 26rem;
           background-color: $white;
           border-radius: 8px;

           transition: .3s;
           &:hover{
               transform: scale(1.05);
           }

       }
    }

    @include responsive(s){

        padding-top: 40px;

        .container:only-child{
            width: 100%;
            display: flex;
            flex-direction:column-reverse;
        }

        .img-hero{
            display: flex;
            justify-content: center;
            .img{
                width: 15rem;
                height: 17rem;
                margin-bottom: 2rem;
            }
        }

        .hero-btn{
            display: flex;
            gap: 3rem;
        }
        
    }

}



section#beneficios{
    background-color: $green-light;

    .img-people{
        width: 19rem;
        height: 19rem;

        box-shadow: 0px 15px 35px rgba($green-dark, 0.2);

        // background-image: url(img/img-people1.png);
        

        .people1{
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            animation: change-people 16s infinite alternate-reverse;
        }
        .people2{
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            animation: change-people 20s infinite forwards;
        }
        .people3{
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            animation: change-people 18s infinite alternate;
        }
    }

    @include responsive(s){

        padding-top: 8px;
        padding-bottom: 32px;

        div.container-100:nth-child(2n){
            display: flex;
            
            flex-direction: column-reverse;
            
        }


        div.grid-5 .img-people{
            display: flex;
            width: 21rem;
            height: 21rem;
            justify-content: center;
            align-items: center;
            margin: 1rem auto;

        }
        
    }

    @include responsive(xs){
        div.grid-5 .img-people{
            display: flex;
            width: 10rem;
            height: 10rem;
            justify-content: center;
            align-items: center;
            margin: 1rem auto;

        }
    }

}




section#beneficio-icones{
    background-color: $purple-dark;

    ul{
        list-style: none;

        display: flex;
        gap: 80px;
        justify-content: space-between;
        align-items: center;

        li{
            font-size: 500%;
            color: $white;        
        }
    }

    @include responsive(s){

        padding-top: 64px;
        padding-bottom: 64px;

        ul{
            display: flex;
            gap: 24px;

            li{
                font-size: 400%;
            }
        }
    }

}

section#comprar {

    div.h2{
        text-align: center;
        align-self: center;
    }

//responsive start
    @include responsive(s){

        padding-top: 24px;
        padding-bottom: 24px;

        .card{
            max-width: 280px;
            align-self: center;

            margin: 0 auto;

            .img{
                display: grid;
                place-content: center;
            }
        }

        .text{
            margin: 32px 0 80px 0;
        }

        .bigger{
            margin-bottom: -0px;
            display: grid;
            place-content: center;
        }

    }

    @include responsive(xs){
        padding-top: 24px;
        padding-bottom: 24px;

        .card{
            max-width: 250px;
            align-self: center;

            margin: 0 auto;

            .purple{
                z-index: 2;
            }

            .img{
                display: grid;
                place-content: center;
                max-height: 200px;
                z-index: 1;
            }
        }

        .text{
            margin: 32px 0 80px 0;
        }

        .bigger{
            margin-bottom: -0px;
            display: grid;
            place-content: center;
        }
    }
//responsive end


    .cards{
        display: flex;
        align-items: center;
    }

    .card{
        width: 100%;

        transition: .3s;
        &:hover{
                opacity: .90;
            }

        .purple{
            background-color: $purple-dark;
            text-align: center;
            border-radius: 6px 6px 0px 0px;
            padding: 8px;

            display: flex;
            justify-content: space-between;
            padding-right: 24px;
            padding-left: 24px;
        }

        .purple-light{
            background-color: $purple;
            text-align: center;
            border-radius: 6px 6px 0px 0px;
            padding: 8px;

            display: flex;
            justify-content: space-between;
            padding-right: 24px;
            padding-left: 24px;
        }

        .img{
            height: 325px;
            background-color: white;
            border-radius: 0px 0px 6px 6px;

            box-shadow: 0px 15px 15px rgba($purple-dark, 0.08);
            
            img{
                width: 100%;                
            }
        }

        .bigger{
            height: 380px;
        }

        .text{
            text-align: center;
            width: 100%;

            .tratamento, .avista{
                font-size: 0.8rem;
                margin-bottom: 16px;
            }

        }

        
    }
}

section#composicao{

    padding-top: 8px;
    padding-bottom: 40px;

    background-color: $purple-dark;
    border-bottom: 1px solid $green-light;



    //responsive start
    @include responsive(s){
        
        div.grid-3 {
            display: none;
        }

        div.container-100:nth-child(n){
            flex-direction: column-reverse;
        }

        div.card-big{
            margin: 40px auto;

            min-height: 10rem;
            max-height: 25rem;

            max-width: 25rem;
        }

    }
    //responsive end


    .bloco-comp{
        display: flex;
        flex-direction: column;
        gap: 24px;

        .bloco-comp-item{
            display: flex;
            gap: 16px;
        }
    }

    .card-big{
        background-color: $white;
        border-radius: 6px;

        box-shadow: 0px 15px 15px rgba($purple-dark, 0.08);

        width: 100%;
        height: 30rem;
    }

    .cards{
        display: flex;
        flex-direction: column;
        gap: 32px;

        .card-small{
            background-color: $white;
            border-radius: 6px;

            box-shadow: 0px 15px 15px rgba($purple-dark, 0.08);

            width: 100%;
            height: 15rem;
        }
    }    
}


section#footer{
    background-color: $purple-dark;

    //responsive start
    @include responsive(s){
        padding-top: 0;

        div ul{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            margin-top: 24px;
            gap: 24px;
        }

        div.qualifarma, div.sessoes {
            display: none;
        }

    }
    //responsive end

    .qualifarma, .sessoes, .social-media, ul{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .border-bottom{
        border-bottom: 1px solid $green-light;
    }

    ul{
        list-style: none;
    }
    
}