section#composicao{

  padding-top: 8px;
  padding-bottom: 40px;

  background-color: $purple-dark;
  border-bottom: 1px solid $green-light;



  //responsive start
  @include responsive(s){
      
      div.grid-3 {
          display: none;
      }

      div.container-100:nth-child(n){
          flex-direction: column-reverse;
      }

      div.card-big{
          margin: 40px auto;

          min-height: 10rem;
          max-height: 22rem;
          max-width: 25rem;

          background-size: 190%;
          background-position: top -9rem left -3rem;
      }

  }
  //responsive end


  .bloco-comp{
      display: flex;
      flex-direction: column;
      gap: 24px;

      .bloco-comp-item{
          display: flex;
          gap: 16px;
      }
  }

  .card-big{
      background-color: $white;
      border-radius: 6px;
      box-shadow: 0px 15px 15px rgba($purple-dark, 0.08);

      width: 100%;
      height: 30rem;

      background-image: url(img/gummy-gominhas-1.jpg);
      background-size: 200%;
      background-position: top -10rem left -4rem;
      background-repeat: no-repeat;
  }

  .cards{
      display: flex;
      flex-direction: column;
      gap: 32px;

      .card-small{
          background-color: $white;
          border-radius: 6px;

          box-shadow: 0px 15px 15px rgba($purple-dark, 0.08);

          width: 100%;
          height: 15rem;
      }

      .card-1{
        animation: beneficios-card-small 20s infinite alternate;
      }

      .card-2{
        animation: beneficios-card-small 16s infinite alternate-reverse;
      }
  }    
}